<footer id="footer" class="fh5co-bg-color">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="copyright">
                    <p><small>&copy; 2016 Free HTML5 Template. <br> All Rights Reserved. <br>
                    Designed by <a href="http://freehtml5.co" target="_blank">FreeHTML5.co</a> <br> Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a></small></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">
                        <h3>Company</h3>
                        <ul class="link">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Hotels</a></li>
                            <li><a href="#">Customer Care</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3>Our Facilities</h3>
                        <ul class="link">
                            <li><a href="#">Resturant</a></li>
                            <li><a href="#">Bars</a></li>
                            <li><a href="#">Pick-up</a></li>
                            <li><a href="#">Swimming Pool</a></li>
                            <li><a href="#">Spa</a></li>
                            <li><a href="#">Gym</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3>Subscribe</h3>
                        <p>Sed cursus ut nibh in semper. Mauris varius et magna in fermentum. </p>
                        <form action="#" id="form-subscribe">
                            <div class="form-field">
                                <input type="email" placeholder="Email Address" id="email">
                                <input type="submit" id="submit" value="Send">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <ul class="social-icons">
                    <li>
                        <a href="#"><i class="icon-twitter-with-circle"></i></a>
                        <a href="#"><i class="icon-facebook-with-circle"></i></a>
                        <a href="#"><i class="icon-instagram-with-circle"></i></a>
                        <a href="#"><i class="icon-linkedin-with-circle"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>