<header class="site-header js-site-header">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-6 col-lg-4 site-logo" data-aos="fade"><a href="index.html">Nestay</a></div>
        <div class="col-6 col-lg-8">


          <div class="site-menu-toggle js-site-menu-toggle"  data-aos="fade">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <!-- END menu-toggle -->

          <div class="site-navbar js-site-navbar">
            <nav role="navigation">
              <div class="container">
                <div class="row full-height align-items-center">
                  <div class="col-md-6 mx-auto">
                    <ul class="list-unstyled menu">
                      <li class="active"><a href="/">Home</a></li>
                      <li><a href="Check">Check</a></li>
                      <li><a href="about">About</a></li>
                      {% if user.is_authenticated %}
							        <li><a>Hello, {{user.first_name}}</a></li>
                      <li><a href="logout">Logout</a></li>
							        {% else %}
							        <li><a href="login" >Login</a></li>
							        {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>